<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sgebd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SGBSQL"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SGEBD">
        <activity android:name=".utils.ScheduleActivity"/>
        <activity android:name=".utils.RegisterActivity" />
        <activity android:name=".utils.KardexActivity" />
        <activity android:name=".utils.InscripcionActivity"/>
        <activity android:name=".utils.DatosActivity" />
        <activity android:name=".utils.AcademicAdvanceActivity" />
        <activity android:name=".utils.MenuActivity" />
        <activity android:name=".utils.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>